server:
  port: 8083

spring:
  application:
    name: "users"
  profiles:
    active: "prod"
  datasource:
    url: jdbc:mysql://localhost:3306/userdb
    username: root
    password: root
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  sql:
    init:
      mode: always
  cloud:
    function:
      definition: emailsSent
    stream:
      bindings:
        sendCommunication-out-0:
          destination: send-communication
          group: ${spring.application.name}
        emailsSent-in-0:
          destination: communication-sent
          group: ${spring.application.name}
      kafka:
        binder:
          brokers:
            - localhost:9092
  config:
    import: "optional:configserver:http://localhost:8071/"

management:
  info:
    env:
      enabled: true
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: "*"

eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/

## build with:  mvn compile jib:build
info:
  app:
    name: "Users"
    description: "Users App"
    version: "1.0.0"

## create db: docker run -p 3306:3306 --name userdb -e MYSQL_ROOT_PASSWORD=root -e MYSQL_DATABASE=userdb -d mysql